{% extends "templates.html" %}
{% load static %}
{% block 'head' %}
<link id="page-css" rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock 'head' %}
{% block 'body' %}
{% include "navbar.html" %}
<section id="forum-section">
    <div id="forum">

        <!-- Conteúdo inicial forum -->

        <div class="container-inicial">
            <div class="titulo">
                <h1 style="align-items: left;">Encontre o<span class="custom-pink italic "> grupo certo <br></span>para compartilhar seus<br>
                <span class="highlight-color italic">interesses</span></h1>
                <br>

                <div style="font-size: 16px; max-width: 480px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentum. Cras et turpis id eros tincidunt faucibus.</p>
                </div>

                <div class="btn px-3 py-2 mb-5">
                    <a href="#"> Saber mais </a>
                    <i class="fas fa-angle-right ms-2"></i>
                </div>
            </div>
            <div class="forum-img-container">
                <div class="img-ellipse">
                    <div class="img-ellipse-in"></div>
                </div>
        
                <img src="{%static "imgs/forum/forum-img-1.png" %}" id="first">
                <img src="{%static "imgs/forum/forum-img-2.png" %}" id="second">
                <img src="{%static "imgs/forum/forum-img-3.png" %}" id="third">
            </div>
        </div>

    </div>

    <!-- adc comentario -->
    <div class="card">
            <div class="newTopic-description">
                <p>Adicionar um novo tópico</p><br>
            </div>
                <div class="add-layout">
                <img src="{%static "imgs/forum/botão add.png" %}" onclick="form()">
            </div>
    </div>

    <!-- formulário -->
    <div id="form-section" style="display: none;">
        <h3>Adicionar um Novo Tópico</h3>
        <form id="new-topic-form" enctype="multipart/form-data" method="POST" action="{% url 'criar_post' %}"> 
            {% csrf_token %}
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>

            <label for="comment">Tópico:</label>
            <textarea id="comment" name="comment" rows="4" required></textarea>
            <div id="button-container">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>


    <!--primeiro feedback-->
    {% for p in posts %}
    <div class="card">
        <h2>{{ p.title }}</h2>
        <div class="card-content">
            <div class="user-info">
                <div class="user-icon-background">
                    <img src="{%static "imgs/forum/Group 39892.png" %}" alt="Ícone do Usuário" class="user-icon">
                </div>
                <div class="user-details">
                    <p class="user-name">{{ p.userName }}</p>
                    <p class="user-time">{{ p.difference_dates}}</p>
                </div>
            </div>
            <p class="card-description">
                {{ p.description }}
            </p>
            <p class="see-more">Ver mais</p>
            <div class="card-footer">
                <div class="comment-section">
                    <img src="{%static "imgs/forum/salvo.png" %}" class="comment-section-s"> <!-- img save-->
                    <img src="{%static "imgs/forum/comentario.png" %}" class="comment-section-c"> <!-- img comment-->
                    <span>Adicionar comentário</span>
                </div>
                <p class="social-info">
                    Faça como 
                    {% for cp in p.comentado_por%} 
                    {{cp}},
                    {%endfor%}
                    e comente sobre <strong>{{p.title}}</strong>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--TÓPICOS-->
    <div class="topics">
        <h2><strong>Tópicos</strong> <span class="primary-color italic">populares</span></h2> <br>   
    
        <div class="container-topicos">
            <div class="topicos-card-container">
                {% for c in comments %}
                <div class="topicos-card">
                    <h3> {{ c.post.title }} </h3>
                    <p> {{ c.post.description }}</p>
                    <div class="details">
                        <img src="{%static "imgs/forum/comentario.png" %}">
                        <span>{{ c.quantity_comments }} pessoas estão discutindo esse tópico</span>
                    </div>
                    <div class="details">
                        <img src="{%static "imgs/forum/Vector.png" %}">
                        <span> {{ c.difference_dates}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% include "footer.html" %}
{% endblock 'body' %}