{% extends "templates.html" %}
{% load static %}
{% block 'head' %}
<link id="page-css" rel="stylesheet" href="{% static 'css/parents.css' %}">
{% endblock 'head' %}
{% block 'body' %}
{% include "navbar.html" %}


<section id="parents" class="drawing-container d-flex flex-column col-12">
    <div id="intro" class="animate__animated animate__fadeInDown">
        <h1>Juntos no aprendizado: <span class="custom-orange italic">recursos</span> para <span class="primary-color italic">fortalecimento</span> da educação</h1>
        {% for top_desc in top_descs %}
            <p>{{ top_desc.description }}</p>
        {% endfor %}
    </div>
</section>


    <div id="supportMaterials" class="animate__animated animate__fadeInUp">
        <div class="materialsContainer mx-5">
            <div class="materialsTitle animate__animated animate__fadeIn">
                <p style="--backgroundColor: #F19436">Desenhos para <span class="custom-orange italic">colorir</span></p>
            </div>
            <div class="materials mx-5">
                {% for drawing in drawings_and_cards %}
                {% if drawing.type == 'colorir' %}
                <a href="#">
                    <div class="material animate__animated animate__zoomIn">
                        <img class="filterImage" src="{{ drawing.image.url }}" alt="{{ drawing.description }}">
                        <p>{{ drawing.description }}</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="materialsContainer mx-5">
            <div class="materialsTitle animate__animated animate__fadeIn">
                <p style="--backgroundColor: #704EEA"> Cartões <span class="primary-color italic">didáticos</span></p>
            </div>
            <div class="materials">
                {% for drawing in drawings_and_cards %}
                {% if drawing.type == 'didatico' %}
                <a href="#">
                    <div class="material animate__animated animate__zoomIn">
                        <img src="{{ drawing.image.url }}" alt="{{ drawing.description }}">
                        <p>{{ drawing.description }}</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="materialsContainer mx-5">
            <div class="materialsTitle animate__animated animate__fadeIn">
                <p style="--backgroundColor: #E924AE">Conhecimento para <span class="custom-pink italic">pais e professores</span></p>
                </div>
            <div class="materials">
                {% for drawing in drawings_and_cards %}
                {% if drawing.type == 'pais' %}
                <a href="#">
                    <div class="material animate__animated animate__zoomIn">
                        <img src="{{ drawing.image.url }}" alt="{{ drawing.description }}">
                        <p>{{ drawing.description }}</p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}

{% endblock 'body' %}