{% extends "templates.html" %}
{% load static %}
{% block 'head'%}
<link id="page-css" rel="stylesheet" href="{% static 'css/videos.css' %}">
{% endblock 'head' %}
{% block 'body'%}
{% include "navbar.html" %}
<section>
    <div class="vid-main drawing-container animate__animated animate__fadeIn">
        <h1 class="animate__animated animate__bounceIn"> 
            Mais <span class="custom-orange italic">conhecimento,</span> <span
                class="primary-color italic">diversão</span> & <br>
            <span class="custom-pink italic">segurança</span> para crianças
        </h1>

        <div class="vid-img-grid animate__animated animate__fadeInUp"> 
            <div class="column">
                <div class="image"><img src="{% static 'imgs/videos/image-1.png' %}"></div>
            </div>

            <div class="column"> 
                <div class="image"><img src="{% static 'imgs/videos/image-2.png' %}"></div>
                <div class="image big"><img src="{% static 'imgs/videos/image-3.png' %}"></div>
            </div>

            <div class="column">
                <div class="image"><img src="{% static 'imgs/videos/image-4.png' %}"></div>
            </div>

            <div class="column">
                <div class="image big"><img src="{% static 'imgs/videos/image-5.png' %}"></div>
                <div class="image"><img src="{% static 'imgs/videos/image-6.png' %}"></div>
            </div>

            <div class="column">
                <div class="image"><img src="{% static 'imgs/videos/image-7.png' %}"></div>
            </div>
        </div>

        <p class="animate__animated animate__fadeInUp">
            {{ pageDescription }}
        </p>
    </div>

    <div class="cat-row d-flex justify-content-between mt-5 mb-5 overflow-auto animate__animated animate__fadeInLeft">
        {% for c in categorys %}
        <div class="cat col-md-2 col-8"> 
            <img src="{% static 'imgs/videos/categoria-' %}{{ c.type }}.png">
            <p>{{ c.description }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="videos-container animate__animated animate__fadeInUp"> 
        <h1>Vídeos <span class="custom-orange italic">educativos</span></h1>
        <div class="title-rectangle orange-rectangle"></div>

        <div class="carousel">

            {% for v in videos%}
            {% if v.type == 'educativo' %}
            <div class="carousel-cell"> 
                <iframe src="{{ v.videoUrl }}"></iframe>
                <p>{{ v.description }}</p>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="videos-container animate__animated animate__fadeInUp"> 
        <h1>Vídeos <span class="primary-color italic">de tutoriais</span></h1>
        <div class="title-rectangle purple-rectangle"></div>

        <div class="carousel">
            {% for v in videos%}
            {% if v.type == 'tutorial' %}
            <div class="carousel-cell"> 
                <iframe src="{{ v.videoUrl }}"></iframe>
                <p>{{ v.description }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="videos-container animate__animated animate__fadeInUp"> 
        <h1>Histórias <span class="accent-color italic">para dormir</span></h1>
        <div class="title-rectangle yellow-rectangle"></div>

        <div class="carousel">
            {% for v in videos%}
            {% if v.type == 'dormir' %}
            <div class="carousel-cell"> 
                <iframe src="{{ v.videoUrl }}"></iframe>
                <p>{{ v.description }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="videos-container animate__animated animate__fadeInUp"> 
        <h1>Aulas <span class="custom-pink italic">interativas</span></h1>
        <div class="title-rectangle pink-rectangle"></div>

        <div class="carousel">
            {% for v in videos%}
            {% if v.type == 'interativo' %}
            <div class="carousel-cell"> 
                <iframe src="{{ v.videoUrl }}"></iframe>
                <p>{{ v.description }}</p>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</section>

{% include "footer.html" %}
{% endblock 'body' %}